.confirmation-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(79, 75, 75, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.confirmation {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}


.confirmation-message {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.confirmation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.confirmation-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  margin: 8px;
}

@media screen and (max-width: 660px) {
  .confirmation-button {
    font-size: 0.75rem;
  }

  .confirmation-buttons {
    flex-direction: column;
  }

  .confirmation-message {
    font-size: 1rem;
  }

  .confirmation {
    padding: 14px;
  }

}
.confirmation-button.confirm {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #fff;
  transition: 0.4s;
}

.confirmation-button.confirm:hover {
  background-color: #409443;
  border-color: #585958;
}

.confirmation-button.cancel {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
  transition: 0.4s;
}

.confirmation-button.cancel:hover {
  background-color: #c9271b;
  border-color: #585958;
}